.demo-root {
  padding: 0 2rem;
}

.child-container {
  margin-top: 1rem;
  height: 4rem;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}

.child-container .waiting {
  color: rgb(52, 51, 65);
}
